/* page-level styles and variables */

/* Download montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


* {
    scrollbar-color: var(--btn-light) var(--btn-dark);
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root { /* global variables */
    --track-height: 70px;
    --track-hl-speed: 0.1s;

    --bg-dark: #334;
    --bg-light: #3a3a4a;
    --bg-light-translucent: #3a3a4a40;
    --shadow: #2c2c3b;
    --text: #eee;
    --insert-hint: #99f;
    --btn-dark: #778;
    --btn-light: #eee;
    --removing-track: #f002;
}

html {
    height: 100%;
    background-color: var(--bg-dark);
    font-family: 'Montserrat',sans-serif;
    color: var(--text);
}

.header {
    height: 80px;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow) 0px 4px;
}


/* Chrome / mac wierdness compatibility */
/* Style the scrollbar background */
::-webkit-scrollbar {
  background: var(--btn-dark);
  border-radius: 8px;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--btn-light);
}
