#player-bar {
    height: 120px;
    width: 100%;
    background-color: var(--bg-light);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player-bar-name {
    font-weight: 600;
}
#player-bar-details {
    font-size: 14px;
}

#progress-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

#progress-bar {
    flex-grow: 1;
    background-color: var(--bg-dark);
    width: 100px;
    height: 10px;
    border-radius: 5px;
    box-shadow: inset var(--shadow) 0px 2px;
}

#progress {
    width: 0;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}